<div id="payment-form">


  <label for="card-number">CARD NUMBER</label>
  <!-- <div class="input-container card-number">
    <div class="icon-container">
      <img id="icon-card-number" src="assets/card-icons/card.svg"
        alt="PAN" />
    </div> -->
  <card-number></card-number>

  <!-- <div class="icon-container payment-method">
      <img id="logo-payment-method" />
    </div>
    <div class="icon-container">
      <img id="icon-card-number-error" src="assets/card-icons/error.svg"
        />
    </div>
  </div> -->
  <div class="date-and-code">
    <div>
      <label for="expiry-date">EXPIRY DATE</label>
      <div class="input-container expiry-date">
        <!-- <div class="icon-container">
        <img id="icon-expiry-date" src="assets/card-icons/exp-date.svg"
          alt="Expiry date" />
      </div> -->
        <expiry-date></expiry-date>
      </div>
      <!-- <div class="icon-container">
        <img id="icon-expiry-date-error"
          src="assets/card-icons/error.svg" />
      </div>-->
    </div>


    <div>
      <label for="cvv">SECURITY CODE</label>
      <div class="input-container cvv">
        <!-- <div class="icon-container">
        <img id="icon-cvv" src="assets/card-icons/cvv.svg" alt="CVV" />
      </div> -->
        <cvv></cvv>
        <!-- <div class="icon-container">
        <img id="icon-cvv-error" src="assets/card-icons/error.svg" />
      </div> -->
      </div>
    </div>
  </div>
  <!-- <pay-button (payButtonClicked)="pay()"></pay-button> -->
  <button ion-button (click)="pay()" id="pay-button" disabled="">
    PAY NOW
  </button>

  <!-- <div>
      <span class="error-message error-message__card-number"></span>
      <span class="error-message error-message__expiry-date"></span>
      <span class="error-message error-message__cvv"></span>
    </div>
    <img id="icon-cvv-error" src="../../../assets/card-icons/american
      express.svg"
      /> -->
  <p class="success-payment-message">{{ cardToken }}</p>
